.client-excerpt {
    padding: $gutter-extra-large $gutter $gutter;
    position: relative;

    &__title {
        font-size: $font-size-large;
        margin: {
            bottom: $gutter;
            top: $gutter;
        };
    }

    &__image {
        left: 50%;
        position: absolute;
        top: $gutter;
    }
}
